body {
	font-family: monospace;
}

div {
	margin-bottom: 2ex;
}

div.column {
	display: flex;
	flex-direction: column;
}

div.row {
	display: flex;
	flex-direction: row;
}

.row * {
  margin-right: 1ex;
}

p {
	margin-bottom: 1ex;
}

.main {
	margin-left: 10%;
	margin-top: 10ex;
}

input {
	border: 1px solid #222222;
	width: 45ex;
}

.button {
	border: 1px solid black;
	padding: 1ex;
	margin-right: 1ex;
	margin-bottom: 1ex;
}

.button:hover {
	cursor: pointer;
	background: lightblue;
}

.internalLink {
	padding: 2px;
	text-decoration: underline;
}

.internalLink:hover {
	background: lightblue;
	cursor: pointer;
	text-decoration: none;
}

.explainer {
	width: 80ch;
}

.qrcode {
	width: 200px;
	height: 200px;
}

.copy {
	visibility: hidden;
}
